.pharmacyContainer {
    display: flex;
    justify-content: space-between;
}
.pharmacyContainer .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    margin-left: 15vh;
}
.pharmacyContainer .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pharmacyContainer .form .registerTitle {
    color: #525252;
    font-size: 80px;
    margin-bottom: 4vh;
}
.pharmacyContainer .form form input {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
}
.pharmacyContainer .form form .inputGroup {
    display: flex;
    flex-direction: row;
}
.pharmacyContainer .form form button {
    margin-top: 5vh;
    font-size: 20px;
    width: 150px;
    height: 40px;
}
.pharmacyContainer aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pharmacyContainer aside img {
    width: 40%;
}
.pharmacyContainer aside .card {
    width: 80%;
    height: auto;
    text-align: center;
    padding: 4%;
}
.pharmacyContainer aside .cardTitle{
    color: #464646;
    font-size: 30px;
}
.pharmacyContainer aside .cardDescription{
    margin-top: 15px;
    color: #888888;
    font-size: 18px;
    margin-bottom: 15px;
}
.pharmacyContainer aside .cardReq{
    color: #464646;
    font-size: 20px;
}
