.loginContainer {
    width: 100%;
    height: 100vh;
    padding-left: 30vh;
    padding-right: 30vh;

    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.img img {
    width: 40%;
}
.form form {
    display: flex;
    flex-direction: column;
}