.itemModifyContainer {
    padding-right: 17vh;
    padding-left: 17vh;
    padding-top: 8vh;
}
.itemModifyContainer .header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 3vh;
    padding-left: 3vh;
}
.itemModifyContainer .card .header div spam {
    font-size: 50px;
    color: #37FF33;
}
.itemModifyContainer .card .header hr {
    background-color: #37FF33;
    border-style: none;
    height: 3px;
    margin-bottom: 1vh;
}
.itemModifyContainer .card .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itemModifyContainer .card .content form {
    padding: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.itemModifyContainer .card .content form input {
    height: 40px;
    margin-bottom: 20px;
}
.itemModifyContainer .card .content form textarea {
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}
.itemModifyContainer .card .content .aside {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemModifyContainer .card .content .aside img {
    width: 80%;
    border-radius: 8px;
}
.itemModifyContainer .card .content .aside div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 10vh;
}
.itemModifyContainer .card .content form button{
    width: 200px;
    height: 35px;
}