.itemsContainer {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.itemsContainer .navBar {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itemsContainer .navBar .navBarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemsContainer .navBar .navBarLeft img {
    width: 30%;
    margin-left: 2%;
    margin-right: 5%;
}
.itemsContainer .navBar .navBarLeft span {
    color: #888888;
}
.itemsContainer .navBar .navBarLeft span .pharmacyName {
    color: #464646;
}
.itemsContainer .navBar .navBarRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemsContainer .navBar .navBarRight .button {
    width: 120px;
    height: 30px;
    margin-right: 8px;
}
.itemsContainer .navBar .navBarRight .button {
    bottom: 0px;
}
.itemsContainer .navBar .navBarRight .logout {
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
    border: 2px solid #22DAAE;
    border-radius: 30px;
    box-shadow: 5.57798px 5.57798px 13.945px rgba(130, 130, 130, 0.25);
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.itemsContainer .navBar .navBarRight .logout:hover {
    background-color: #22DAAE;
}
.itemsContainer .feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.itemsContainer .feed .card {
    padding: 5%;
    margin-bottom: 20px;
}
.itemsContainer .feed .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemsContainer .feed .card img {
    width: 45%;
}
.itemsContainer .feed .card .cardContent {
    margin-top: 8%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itemsContainer .feed .card .cardContent .title {
    color: #464646;
    text-align: center;
    overflow: hidden;
    width: 150px;
}
.itemsContainer .feed .card .cardContent .description {
    color: #888888;
    text-align: center;
    overflow: hidden;
    width: 150px;
}
.itemsContainer .feed .card .cardContent .values {
    color: #464646;
    display: flex;
    justify-content: space-between;
}
.itemsContainer .feed .card .edit {
    position: absolute;
    right: 15%;
}
.itemsContainer .feed .card .edit button {
    border-style: none;
    background-color: #fff;
}
.itemsContainer .feed .card .trash {
    position: absolute;
    right: 8%;
}
.itemsContainer .feed .card .trash button {
    border-style: none;
    background-color: #fff;
}
.itemsContainer .add {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.itemsContainer .add button {
    width: 70px;
    height: 70px;
    border-style: none;
    border-radius: 50px;
    background: linear-gradient(223.5deg, #22DAAE -29.6%, #95EFA9 130.08%);
    filter: opacity(70%);
    transition: .2s;
}
@media screen and (min-width: 550px) {
    .itemsContainer {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .itemsContainer .navBar {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .itemsContainer .navBar .navBarLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .itemsContainer .navBar .navBarLeft img {
        width: 22%;
        margin-left: 4%;
        margin-right: 5%;
    }
    .itemsContainer .navBar .navBarLeft span {
        font-size: 25px;
        color: #888888;
    }
    .itemsContainer .navBar .navBarLeft span .pharmacyName {
        color: #464646;
    }
    .itemsContainer .navBar .navBarRight {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .itemsContainer .navBar .navBarRight .button {
        width: 250px;
        height: 50px;
        margin-right: 8px;
    }
    .itemsContainer .navBar .navBarRight .button {
        bottom: 0px;
    }
    .itemsContainer .navBar .navBarRight .logout {
        background-color: #f5f5f5;
        width: 50px;
        height: 50px;
        border: 2px solid #22DAAE;
        border-radius: 30px;
        box-shadow: 5.57798px 5.57798px 13.945px rgba(130, 130, 130, 0.25);
        transition: .2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .itemsContainer .navBar .navBarRight .logout:hover {
        background-color: #22DAAE;
    }
    .itemsContainer .feed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
        padding: 3%;
    }
    .itemsContainer .feed .card {
        position: relative;
        padding: 5%;
        margin-bottom: 20px;
    }
    .itemsContainer .feed .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .itemsContainer .feed .card img {
        width: 45%;
    }
    .itemsContainer .feed .card .cardContent {
        margin-top: 6%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .itemsContainer .feed .card .cardContent .title {
        align-self: center;
        color: #464646;
        text-align: center;
        overflow: hidden;
        width: 150px;
        font-size: 22px;
    }
    .itemsContainer .feed .card .cardContent .description {
        align-self: center;
        color: #888888;
        text-align: center;
        overflow: hidden;
        width: 150px;
        font-size: 20px;
    }
    .itemsContainer .feed .card .cardContent .values {
        color: #464646;
        display: flex;
        justify-content: space-between;
    }
    .itemsContainer .feed .card .edit {
        position: absolute;
        right: 10%;
    }
    .itemsContainer .feed .card .edit button {
        border-style: none;
        background-color: #fff;
    }
    .itemsContainer .feed .card .trash {
        position: absolute;
        right: 2%;
    }
    .itemsContainer .feed .card .trash button {
        
        border-style: none;
        background-color: #fff;
    }
    .itemsContainer .add {
        position: fixed;
        bottom: 40px;
        right: 40px;
    }
    .itemsContainer .add button {
        width: 120px;
        height: 120px;
        border-style: none;
        border-radius: 60px;
        background: linear-gradient(223.5deg, #22DAAE -29.6%, #95EFA9 130.08%);
        filter: opacity(70%);
        transition: .2s;
    }
}
@media screen and (min-width: 1020px) {
    .itemsContainer {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .itemsContainer .navBar {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .itemsContainer .navBar .navBarLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .itemsContainer .navBar .navBarLeft img {
        width: 13%;
        margin-left: 4%;
        margin-right: 5%;
    }
    .itemsContainer .navBar .navBarLeft span {
        font-size: 25px;
        color: #888888;
    }
    .itemsContainer .navBar .navBarLeft span .pharmacyName {
        color: #464646;
    }
    .itemsContainer .navBar .navBarRight {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .itemsContainer .navBar .navBarRight .button {
        width: 250px;
        height: 50px;
        margin-right: 8px;
    }
    .itemsContainer .navBar .navBarRight .button {
        bottom: 0px;
    }
    .itemsContainer .navBar .navBarRight .logout {
        background-color: #f5f5f5;
        width: 50px;
        height: 50px;
        border: 2px solid #22DAAE;
        border-radius: 30px;
        box-shadow: 5.57798px 5.57798px 13.945px rgba(130, 130, 130, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        transition: .2s;
    }
    .itemsContainer .navBar .navBarRight .logout:hover {
        filter: brightness(90%);
        background-color: #fff;
    }
    .itemsContainer .feed {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
        padding: 2%;
    }
    .itemsContainer .feed .card {
        position: relative;
        padding: 5%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .itemsContainer .feed .card img {
        width: 45%;
    }
    .itemsContainer .feed .card .cardContent {
        margin-top: 6%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .itemsContainer .feed .card .cardContent .title {
        align-self: center;
        color: #464646;
        text-align: center;
        overflow: hidden;
        width: 190px;
        font-size: 4vh;
    }
    .itemsContainer .feed .card .cardContent .description {
        align-self: center;
        color: #888888;
        text-align: center;
        overflow: hidden;
        width: 190px;
        height: 120px;
        font-size: 20px;
    }
    .itemsContainer .feed .card .cardContent .values {
        color: #464646;
        display: flex;
        justify-content: space-between;
    }
    .itemsContainer .feed .card .edit {
        position: absolute;
        right: 10%;
    }
    .itemsContainer .feed .card .edit button {
        border-style: none;
        background-color: #fff;
    }
    .itemsContainer .feed .card .trash {
        position: absolute;
        right: 2%;
    }
    .itemsContainer .feed .card .trash button {
        
        border-style: none;
        background-color: #fff;
    }
    .itemsContainer .add {
        position: fixed;
        bottom: 40px;
        right: 40px;
    }
    .itemsContainer .add button {
        width: 120px;
        height: 120px;
        border-style: none;
        border-radius: 60px;
        background: linear-gradient(223.5deg, #22DAAE -29.6%, #95EFA9 130.08%);
        filter: opacity(70%);
        transition: .2s;
    }
}